html,
body{
    font-size: 1rem;
    height: 100%;
    font-family: 'Abel', sans-serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Montserrat', sans-serif;
}

.gradient{
    background: rgb(86,9,121);
    background: linear-gradient(90deg, rgba(86,9,121,1) 28%, rgba(69,103,137,1) 64%);
}

.logo{
    height: 50px;
    border-radius: 50%;
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.feature{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
    width: 100%;
}

.feature ul{
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li{
    padding-left: 2rem;
    background-image: url(../images/tick.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}